*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
h1{
    color: #202022;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    background-color: #80f907ee;
    text-align: center;
    padding: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
h2{
    color: #202022;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    background-color: #f7e818ee;
    text-align: center;
    padding: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    color: #090909e8;
    font-size: 40px;
    font-style:italic;
    text-align:bold;
}